
  <!-- Pricing Table Sections 
  =========================-->
  <section class="pricing-table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-center">
            <h2>Our Pricing</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table text-center">
            <!-- pricing table
            ===================== -->
            <div class="table-price border-effect">
              <h4 class="pricing-title">extended Version</h4>
              <h2 class="price">&#36; 89.00</h2>
              <p class="table-month">/ Month</p>
            </div>
            <div class="pricing-list border-effect">
              <ul class="features-list">
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Web Design Service
                  </p>
                </li>
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Web Development
                  </p>
                </li>
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Mobile Application
                  </p>
                </li>
              </ul>
              <input type="button" class="btn btn-default btn-main th-btn-border" value="Order Now">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table text-center">
            <!-- pricing table
            ===================== -->
            <div class="table-price border-effect">
              <h4 class="pricing-title">Standard Version</h4>
              <h2 class="price">&#36; 109.00</h2>
              <p class="table-month">/ Month</p>
            </div>
            <div class="pricing-list border-effect">
              <ul class="features-list">
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Web Design Service
                  </p>
                </li>
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Web Development
                  </p>
                </li>
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Mobile Application
                  </p>
                </li>
              </ul>
              <input type="button" class="btn btn-default btn-main th-btn-border" value="Order Now">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table text-center">
            <!-- pricing table
            ===================== -->
            <div class="table-price border-effect">
              <h4 class="pricing-title">Premium Version</h4>
              <h2 class="price">&#36; 300.00</h2>
              <p class="table-month">/ Month</p>
            </div>
            <div class="pricing-list border-effect">
              <ul class="features-list">
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Web Design Service
                  </p>
                </li>
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Web Development
                  </p>
                </li>
                <li>
                  <p>
                    <i class="tf-ion-ios-checkmark-outline" aria-hidden="true"></i> 
                    Mobile Application
                  </p>
                </li>
              </ul>
              <input type="button" class="btn btn-default btn-main th-btn-border" value="Order Now">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>